<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cs442.group3.citysbest">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Client.LogoActivity"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Client.LoginActivity" />
        <activity android:name=".Client.BaseActivity" />
        <activity android:name=".Client.RegistrationActivity" />
        <activity android:name=".Client.HomeScreen" />
        <activity android:name=".Client.StoreList" />
        <activity android:name=".Client.StoreDetails" />
        <activity android:name=".Vendor.VendorBaseActivity" />
        <activity android:name=".Vendor.VendorStoreDetails" />
        <activity android:name=".Vendor.VendorProductDetails" />
        <activity android:name=".Vendor.VendorOfferDetails" />
        <activity android:name=".Vendor.ManageAccountDetails" />
        <activity android:name=".Vendor.VendorLogout" />
        <activity android:name=".Vendor.VendorEditStoreDetails" />
        <activity android:name=".Vendor.VendorAddProduct" />
        <activity android:name=".Vendor.VendorEditProduct" />
        <activity android:name=".Vendor.VendorAddOffer" />
        <activity android:name=".Vendor.VendorEditOffer" />
        <activity android:name=".Vendor.VendorDeleteProduct" />
        <activity android:name=".AddCategory">

        </activity>
    </application>

</manifest>